<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <%- include('./pages/head'); %>

    <title>Apontamento - S3GFab</title>

    <style>
              /* Chrome e outros */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
          appearance: textfield;

        }

        .modal {
          background-color: rgba(0, 0, 0, .8);
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          display: none;
        }

        .modal-content {
            margin: 0 auto;
            margin-top: 3%;
            max-width: 600px;
            background-color: #eee;
            padding: 0;
            box-shadow: 0 0 2px #fff;
        }

        .modal-header h1{
            font-weight: bold;
            text-align: center;
        }

        .modal-header, .modal-body, .modal-footer{
            padding: 10px;
        }

        .modal-header{
            background-color: #ccc;
        }

        .modal-footer{
            background-color: #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn{
          background-color: rgb(160, 0, 0);
          padding: 5px 15px;
          color: white;
          margin: 10px;
        }

        .drawingBuffer{
          display: none;
        }

        #preview::before {
        content: '';
        height: 150px;
        width: 580px;
        background-color: rgba(0, 0, 0, 0.534);
        position: absolute;
      }

      #preview > div::before {
        content: '';
        height: 150px;
        width: 580px;
        background-color: rgba(0, 0, 0, 0.534);
        position: absolute;
        top: calc(480px - 220px + 116px);
      }

    </style>
</head>

<body>



  <div class="flex flex-no-wrap">

    <%- include('./pages/menu'); %>

    <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6 md:ml-64">
      <h1 class="text-center border-b-4 p-2 font-extralight text-xl md:text-2xl">Apontamento de Ordem de serviço</h1>

      <div class="bg-gray-100 w-full rounded-md shadow my-4 py-4 border">
        <div class="flex flex-col items-center">

          <label for="Estab" class="text-sm font-thin antialiased">Estabelecimento:</label>
          <select name="" id="Estab" class="w-5/6 py-2 mt-1 rounded-md shadow-md font-extralight antialiased focus:bg-blue-50 focus:ring transition duration-300 ease-in-out">
            <option value="#" selected disabled class="">Selecione um Estabelecimento</option>
          </select>

          <div class="flex flex-col sm:flex-row w-full justify-around items-center">

            <div class="flex flex-col w-5/6 sm:w-2/6">

              <label for="OS" class="text-sm font-thin antialiased mt-4">Ordem de Serviço:</label>

              <div class="flex">

                <input type="tel" name="" id="OS" class="py-2 pl-4 mt-1 rounded-md shadow-md font-extralight antialiased outline-none focus:bg-blue-50 focus:ring transition duration-300 ease-in-out w-full" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">

                <!-- <button id="OpenCamera" onclick="openModal('dv-modal')">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512" width="18" height="18" class="mt-2 ml-4">
                    <g>
                      <g>
                        <path d="m434.2,109.1h-89.7l-23.4-57.8c-3.1-7.7-10.6-12.8-18.9-12.8h-92.3c-8.3,0-15.8,5-18.9,12.8l-23.4,57.8h-89.8c-36.9,0-66.8,30-66.8,66.8v230.7c0,36.9 30,66.8 66.8,66.8h356.3c36.9,0 66.8-30 66.8-66.8v-230.7c0.1-36.8-29.9-66.8-66.7-66.8zm-210.6-29.8h64.8l12,29.7h-88.9l12.1-29.7zm236.6,327.3c0,14.3-11.7,26-26,26h-356.4c-14.3,0-26-11.7-26-26v-230.7c0-14.3 11.7-26 26-26h356.3c14.3,0 26,11.7 26,26v230.7z"/>
                        <path d="m256,179.7c-61.5,0-111.6,50.1-111.6,111.6 0,61.6 50.1,111.6 111.6,111.6s111.6-50.1 111.6-111.6c0-61.6-50.1-111.6-111.6-111.6zm0,182.4c-39,0-70.8-31.8-70.8-70.8 0-39 31.8-70.8 70.8-70.8 39,0 70.8,31.8 70.8,70.8 0,39-31.8,70.8-70.8,70.8z"/>
                      </g>
                    </g>
                  </svg>
                </button> -->

              </div>

            </div>


            <div class="flex flex-col w-5/6 sm:w-3/6">
              <label for="Cliente" class="text-sm font-thin antialiased mt-4">Cliente:</label>
              <input type="text" name="" id="Cliente" disabled class="py-2 pl-4 mt-1 rounded-md shadow-md font-extralight antialiased">
            </div>

          </div>

          <label for="Setor" class="text-sm font-thin antialiased mt-4">Setor:</label>
          <select name="" id="Setor" class="w-5/6 py-2 mt-1 rounded-md shadow-md font-extralight antialiased focus:bg-blue-50 focus:ring transition duration-300 ease-in-out">
            <option value="#" selected disabled class="">Selecione um Setor</option>
          </select>

          <label for="Setor" class="text-sm font-thin antialiased mt-4">Cor:</label>
          <select name="" id="Cor" class="w-5/6 py-2 mt-1 rounded-md shadow-md font-extralight antialiased focus:bg-blue-50 focus:ring transition duration-300 ease-in-out">
            <option value="Cor" selected disabled class="">Selecione uma Cor</option>
          </select>

        </div>

      </div>

      <div class="w-full flex flex-col justify-center">

        <table class="table-auto border-separate">

          <thead>
            <!-- <th class="font-extralight bg-blue-200">Seq</th> -->
            <!-- <th class="font-extralight bg-blue-200">Tipo</th> -->
            <th class="font-extralight bg-blue-200">Item / Cor</th>
            <th class="font-extralight bg-blue-200">Perfil</th>
            <th class="font-extralight bg-blue-200">Qtde Pç.</th>
            <th class="font-extralight bg-blue-200">Qtde Kg.</th>
            <th class="font-extralight bg-green-200">Qtde Prod.</th>
            <th class="font-extralight bg-red-200">Qtde Rejei.</th>
            <th class="font-extralight bg-blue-200">Qtde Final.</th>
            <th class="font-extralight bg-blue-200">Prod.</th>
            <th class="font-extralight bg-blue-200">Rejei.</th>
            <th class="font-extralight bg-blue-200">Motivo</th>
            <th class="font-extralight bg-blue-200">Obs.</th>
            <th class=""></th>
          </thead>
          <tbody>
          <tbody>
          </tbody>
        </table>

      </div>

      <div class="w-full flex justify-center my-4 gap-1">
        <button class="bg-green-700 py-2 px-4 rounded text-white disabled:bg-green-100" id="TotalProd" disabled>Qtde. Prod. Total</button>
        <button class="bg-red-700 py-2 px-4 rounded text-white disabled:bg-red-100" id="TotalRejei" disabled>Qtde. Rejeit Total</button>
      </div>
      <div class="w-full flex justify-center my-4">
        <button class="bg-green-700 py-2 px-4 rounded text-white disabled:bg-green-100" id="Gravar" disabled>Gravar Apontamento</button>
      </div>

    </div>

  </div>

  <div id="dv-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
          <button class="btn" onclick="closeModal('dv-modal')">Fechar</button>
        </div>

        <div class="modal-body">

        </div>

        <div class="modal-footer">
        </div>
    </div>
  </div>

  <script src="/js/functions/sidebar.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="/js/apontamento.js"></script>
  <!-- <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script>

</body>

</html>
