<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <%- include('./pages/head'); %>

    <title>Duplicatas em Aberto - S3GFab</title>

    <style>
              /* Chrome e outros */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }

        .modal {
          background-color: rgba(0, 0, 0, .8);
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          display: none;
        }

        .modal-content {
            margin: 0 auto;
            margin-top: 3%;
            max-width: 600px;
            background-color: #eee;
            padding: 0;
            box-shadow: 0 0 2px #fff;
        }

        .modal-header h1{
            font-weight: bold;
            text-align: center;
        }

        .modal-header, .modal-body, .modal-footer{
            padding: 10px;
        }

        .modal-header{
            background-color: #ccc;
        }

        .modal-footer{
            background-color: #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn{
          background-color: rgb(160, 0, 0);
          padding: 5px 15px;
          color: white;
          margin: 10px;
        }

        .drawingBuffer{
          display: none;
        }

        #preview::before {
        content: '';
        height: 150px;
        width: 580px;
        background-color: rgba(0, 0, 0, 0.534);
        position: absolute;
      }

      #preview > div::before {
        content: '';
        height: 150px;
        width: 580px;
        background-color: rgba(0, 0, 0, 0.534);
        position: absolute;
        top: calc(480px - 220px + 116px);
      }

    </style>

    <link rel="stylesheet" href="/css/autocomplete.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />

</head>

<body>

  <div class="flex flex-no-wrap">

    <%- include('./pages/menu'); %>

    <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6 md:ml-64">
      <h1 class="text-center border-b-4 p-2 font-extralight text-xl md:text-2xl">Consulta de Duplicatas em Aberto</h1>

      <div class="bg-gray-100 w-full rounded-md shadow my-4 py-4 border">
        <div class="flex flex-col items-center">

          <label for="Estab" class="text-sm font-thin antialiased">Estabelecimento:</label>
          <select name="" id="Estab" class="w-5/6 py-2 mt-1 rounded-md shadow-md font-extralight antialiased focus:bg-blue-50 focus:ring transition duration-300 ease-in-out">
            <option value="" selected disabled class="">Selecione um Estabelecimento</option>
          </select>

          <div class="flex flex-col sm:flex-row w-full justify-around items-center">

            <div class="flex flex-col w-5/6 sm:w-2/6 autocomplete">
              <label for="OS" class="text-sm font-thin antialiased mt-4">Cliente Inicial:</label>
              <input type="input" name="" id="ClienteInicial" class="py-2 pl-4 mt-1 rounded-md shadow-md font-extralight antialiased outline-none focus:bg-blue-50 focus:ring transition duration-300 ease-in-out w-full">
            </div>

            <div class="flex flex-col w-5/6 sm:w-2/6 autocomplete">
              <label for="OS" class="text-sm font-thin antialiased mt-4">Cliente Final:</label>
              <input type="input" name="" id="ClienteFinal" class="py-2 pl-4 mt-1 rounded-md shadow-md font-extralight antialiased outline-none focus:bg-blue-50 focus:ring transition duration-300 ease-in-out w-full">
            </div>

          </div>

          <div class="flex flex-col sm:flex-row w-full justify-around items-center">

            <div class="flex flex-col w-5/6 sm:w-2/6">
              <label for="OS" class="text-sm font-thin antialiased mt-4">Data Inicial:</label>
              <input type="date" name="" id="dateIni" class="py-2 pl-4 mt-1 rounded-md shadow-md font-extralight antialiased outline-none focus:bg-blue-50 focus:ring transition duration-300 ease-in-out w-full">
            </div>

            <div class="flex flex-col w-5/6 sm:w-2/6">
              <label for="OS" class="text-sm font-thin antialiased mt-4">Data Final:</label>
              <input type="date" name="" id="dateFin" class="py-2 pl-4 mt-1 rounded-md shadow-md font-extralight antialiased outline-none focus:bg-blue-50 focus:ring transition duration-300 ease-in-out w-full">
            </div>

          </div>

          <button class="bg-green-500 py-2 px-4 rounded text-white mt-4" id="Buscar">Buscar</button>

        </div>

      </div>

      <div class="w-full flex flex-row justify-around items-center flex-wrap" card-dupAberto>
      </div>

    </div>

  </div>

  <script src="/js/functions/sidebar.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="/js/functions/autocomplete.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.3/dayjs.min.js" integrity="sha512-Ot7ArUEhJDU0cwoBNNnWe487kjL5wAOsIYig8llY/l0P2TUFwgsAHVmrZMHsT8NGo+HwkjTJsNErS6QqIkBxDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
  <script src="/js/duplicatasAberto.js"></script>
</body>

</html>
