<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <%- include('./pages/head'); %>

    <title>Apontamento - S3GFab</title>
</head>

<body>

  <div class="flex flex-no-wrap">

    <%- include('./pages/menu'); %>

    <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6 md:ml-64">
      <h1 class="text-center border-b-4 p-2 font-extralight text-xl md:text-2xl">Apontamento de Etiquetas</h1>

      <div class="bg-gray-100 w-full rounded-md shadow my-4 py-4 border">
        <div class="flex flex-col items-center">

          <label for="Estab" class="text-sm font-thin antialiased">Estabelecimento:</label>
          <select name="" id="Estab" class="w-5/6 py-2 mt-1 rounded-md shadow-md font-extralight antialiased focus:bg-blue-50 focus:ring transition duration-300 ease-in-out">
            <option value="#" selected disabled class="">Selecione um Estabelecimento</option>
          </select>

          <div class="flex flex-col sm:flex-row w-full justify-around items-center">

            <div class="flex flex-col w-5/6 sm:w-2/6">

              <label for="OS" class="text-sm font-thin antialiased mt-4">Ordem de Serviço:</label>

              <div class="flex">

                <input type="tel" name="" id="OS" class="py-2 pl-4 mt-1 rounded-md shadow-md font-extralight antialiased outline-none focus:bg-blue-50 focus:ring transition duration-300 ease-in-out w-full" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">

              </div>


            </div>

            <div class="flex flex-col w-5/6 sm:w-3/6">
              <label for="Cliente" class="text-sm font-thin antialiased mt-4">Cliente:</label>
              <input type="text" name="" id="Cliente" disabled class="py-2 pl-4 mt-1 rounded-md shadow-md font-extralight antialiased">
            </div>

          </div>

          <div class="flex flex-col sm:flex-row w-full justify-around items-center px-4 gap-4">

            <div class="w-6/12 flex gap-2">
              <div class="flex flex-col w-full">
                <label for="Cor" class="text-sm font-thin antialiased mt-4">Cor:</label>
                <select name="" id="Cor" class="w-full py-2 mt-1 rounded-md shadow-md font-extralight antialiased focus:bg-blue-50 focus:ring transition duration-300 ease-in-out">
                  <option option value="#" selected disabled class="">Selecione:</option>
                </select>
              </div>

              <div class="flex flex-col w-full">
                <label for="Quant" class="text-sm font-thin antialiased mt-4">Quantidade:</label>
                <select name="" id="Quant" class="w-full py-2 mt-1 rounded-md shadow-md font-extralight antialiased focus:bg-blue-50 focus:ring transition duration-300 ease-in-out">
                  <option option value="#" selected disabled class="">Selecione:</option>
                  <option option value="prod" class="">Produzida</option>
                  <option option value="reject" class="">Rejeitada</option>
                </select>
              </div>
            </div>

            <div class="w-6/12 flex flex-col justify-center items-center">
              <label for="Setor" class="text-sm font-thin antialiased mt-4" class="">Setor:</label>
              <select name="" id="Setor" class="w-5/6 py-2 mt-1 rounded-md shadow-md font-extralight antialiased focus:bg-blue-50 focus:ring transition duration-300 ease-in-out">
                <option value="#" selected disabled class="">Selecione um Setor</option>
              </select>
            </div>

          </div>

        </div>

      </div>

      <div class="w-full flex flex-col justify-center">

        <table class="table-auto border-separate">

          <thead>
            <!-- <th class="font-extralight bg-blue-200">Seq</th> -->
            <!-- <th class="font-extralight bg-blue-200">Tipo</th> -->
            <th class="font-extralight bg-blue-200">Item</th>
            <th class="font-extralight bg-blue-200">Perfil</th>
            <th class="font-extralight bg-blue-200">Qtde Pç.</th>
            <th class="font-extralight bg-blue-200">Qtde Kg.</th>
            <th class="font-extralight bg-green-200">Pçs / Pacote</th>
            <th class="font-extralight bg-green-200">Qtde. Etiquetas</th>
          </thead>
          <tbody>
          <tbody>
          </tbody>
        </table>

      </div>

      <div class="w-full flex justify-center my-4">
        <button class="bg-green-700 py-2 px-4 rounded text-white" id="Gravar">Gravar Apontamento</button>
      </div>

    </div>

  </div>

  <script src="/js/functions/sidebar.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="/js/etiquetas.js"></script>
  <!-- <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script>

</body>

</html>
